---
layout: page-landing
title: Úvod
tagline: Supporting tagline
group: navigation
weight: 1
permalink: /
---
{% include JB/setup %}

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>Ubytování u Kristiána</span>
                <p>Nabízíme ubytování v 6 pokojích o celkové kapacitě 20 lůžek. Pokoje jsou v několika kategoriích co do velikosti, výbavy a ceny. K dispozici je taktéž plně vybavená kuchyňka, WiFi připojení zdarma v celé budově, společenská místnost s kabelovou TV a krbem, veranda s posezením pod pergolou. Parkování až pro 6 vozů je možné na dvorku, dvě místa jsou k dispozici před hlavním vchodem.</p>
            </div>            
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container"> 
    <!-- Service Blocks -->
    <div class="row">
        <div class="col-md-4">
            <div class="service">
                <div class="desc">
                    <h4>Komu se líbíme</h4>
                    <p>DPenzion poskytuje ideální zázemí vyznavačům aktivního trávení volného času. Lyžaři, cyklisté, turisté nebo motorkáři si mohou usušit oblečení a uschovat sportovní náčiní v zamykatelné garáži. Společenská místnost je vhodná k oslavám či absolventským setkáním.</p>
                </div>
            </div>  
        </div>
        <div class="col-md-4">
            <div class="service">
                <div class="desc">
                    <h4>Stravování</h4>
                    <p>V kuchyňce je zdarma k dispozici veškeré náčiní a nádobí samostatné přípravě pokrmů. Ubytovaným slouží k uskladnění potravin dvě lednice. Po dohodě lze větším skupinám nabídnout i možnost snídaně či polopenzi dovozem z partnerské restaurace.</p>
                </div>
            </div>  
        </div>
        <div class="col-md-4">
            <div class="service">
                <div class="desc">
                    <h4>A něco navíc...</h4>
                    <p>Cyklisté zde najdou všechny služby související s certifikací Cyklisté vítáni. Lze si u nás zapůjčit nafukovací loď Pálava včetně pádel, vest a pumpy pro sjezd řeky Otavy. Ochotně Vám pomůžeme s dopravou po Šumavě, pokud to bude v našich silách a možnostech.</p>
                </div>
            </div>  
        </div>              
    </div><!--/row-->
    <!-- End Service Blokcs -->

    <!-- Tag Box -->
    <div class="row tag-box tag-box-v5">
        <div class="col-md-8">
            <span>Pokoje již od 250 Kč za osobu / noc</span>
        </div>
        <div class="col-md-4">
            <p><a href="/ubytovani/" class="btn-u btn-u-lg btn-u-green"><i class="icon-calendar"></i> Volné pokoje</a></p>
        </div>
    </div>
    <!-- End Tag Box -->

    <!-- Fotogalerie -->
    <a id="photos"></a>
    <div class="row margin-bottom-40">
        <div class="col-lg-12">
            <div class="headline"><h2>Fotogalerie</h2></div>
            <ul class="bxslider recent-work">
                {% for img in site.data.images.homepage %}
                <li>
                    <a href="#photos">
                        <em class="overflow-hidden"><img src="{{ img.url }}" alt="" /></em>
                        <span>
                            <strong>{{ img.title }}</strong>
                            <i>{{ img.description }}</i>
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>                    
        </div>
    </div><!--/row-->
    <!-- End Recent Works -->

    <!-- Our partners -->
    <div id="partners" class="row clients">
        <div class="headline"><h2>Naši partneři</h2></div>    
        {% for partner in site.data.partners %}
        <div class="col-md-2">
            <a class="thumbnail" href="{{ partner.link }}" title="{{ partner.title }}" target="_blank">
                <img src="{{ partner.img_grey }}" alt="{{ partner.title }}" />
                <img src="{{ partner.img_color }}" alt="{{ partner.title }}" class="color-img hidden" />
            </a>
            <span class="hidden">{% capture slide_media %}{{ partner.hidden }}{% endcapture %}{{ slide_media }}</i>
        </div>
        {% endfor %}
    </div><!--/flexslider-->
    <!-- End Our Clients -->

    <!-- Our partners -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h2>Naši partneři</h2></div>    
        <ul class="slides">
            {% for partner in site.data.partners %}
            <li>
                <a href="{{ partner.link }}" title="{{ partner.title }}" target="_blank">
                    <img src="{{ partner.img_grey }}" alt="{{ partner.title }}" />
                    <img src="{{ partner.img_color }}" alt="{{ partner.title }}" class="color-img" />
                </a>
                <span class="hidden">{% capture slide_media %}{{ partner.hidden }}{% endcapture %}{{ slide_media }}</i>
            </li>
            {% endfor %}
        </ul>
    </div><!--/flexslider-->
    <!-- End Our Clients -->

</div><!--/container-->     
<!-- End Content Part -->