---
layout: page
title: Ubytování
tagline: Pokoje a společné prostory
group: navigation
weight: 2
permalink: /ubytovani/
menu : 
  name : ubytovani
  title : Úvodem
  parent: false
---
{% include JB/setup %}

{% for node in site.pages %}
    {% if node.published != false and node.menu == 'ubytovani' %}
        {% if node.title != null %}
            <a id="{{ node.url | split:"#" | last | downcase }}" class="shifted-anchor">&nbsp;</a>
            <div class="headline"><h2>{{ node.title }}</h2></div>
            <p>{{ node.content }}</p>
            <p><a href="{{ BASE_PATH }}{{ node.url }}">více</a></p>
        {% endif %}
    {% endif %}
{% endfor %}
