<!DOCTYPE html>
<!--[if IE 8]> <html lang="cs" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="cs" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <link href="{{ ASSET_PATH }}/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{{ ASSET_PATH }}/resources/respond/Respond.min.js"></script>
    <![endif]-->

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/headers/header1.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/responsive.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/pages/page_search.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/pages/portfolio-v2.css" />
    <link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.ico" />
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/flexslider/flexslider.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/parallax-slider/css/parallax-slider.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/bxslider/jquery.bxslider.css" />
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/themes/default.css" />

    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <link rel="canonical" href="{{ page.url }}" />
</head>
<body>
    <!--=== Header ===-->    
    <div class="header">
        {% capture header_template %}themes/{{ page.theme.name }}/layout/header.html{% endcapture %}
        {% include {{header_template}} %}  
    </div><!--/header-->
    <!--=== End Header ===-->  

    {{ content }}

    <!--=== Footer ===-->
    <div class="footer">
        {% capture footer_template %}themes/{{ page.theme.name }}/layout/footer.html{% endcapture %}
        {% include {{footer_template}} %}
    </div><!--/footer-->    
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        {% capture copyright_template %}themes/{{ page.theme.name }}/layout/copyright.html{% endcapture %}
        {% include {{copyright_template}} %}
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->

    {% include JB/analytics %}
    <!-- JS Global Compulsory -->           
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/hover-dropdown.min.js"></script> 
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/back-to-top.js"></script>
    <!-- JS Implementing Plugins -->           
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/parallax-slider/js/modernizr.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/parallax-slider/js/jquery.cslider.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/plugins/jquery.mixitup.min.js"></script>
    <!-- JS Page Level -->           
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/app.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/pages/index.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/pages/portfolio.js"></script>
    
    <script type="text/javascript">
        (function($, undefined){
            $(document).ready(function() {
                App.init();
                App.initSliders();
                App.initBxSlider();
                Index.initParallaxSlider();
                Portfolio.init();

                $('[data-toggle="popover"]').popover({
                    html: true,
                    placement: 'right',
                    trigger: 'hover',
                    delay: { show: 150, hide: 100 },

                })
            });
        })(jQuery);
    </script>
    <!--[if lt IE 9]>
        <script src="{{ ASSET_PATH }}/plugins/respond.js"></script>
    <![endif]-->
</body>
</html>
