    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            {% for slide in site.data.slides %}
            <div class="da-slide">
                <h2>{{ slide.title }}</h2>
                <p>{{ slide.description }}</p>
                <div class="da-img">{% capture slide_media %}{{ slide.media }}{% endcapture %}{{ slide_media }}
                </div>
            </div>
            {% endfor %}
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div><!--/da-slider-->
    </div><!--/slider-->
    <!--=== End Slider ===-->

    {{ content }}